.container {
    position: relative;
    width: 100%;
}

.center-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #87CEEB;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    width: 250px;
    margin-top: 250px;
    margin-left: 550px;
    transition: background-color 0.3s ease;
}

.center-button:hover {
    background-color: #4682B4;
}

.circle-container {
    position: relative;
    width: 100px;
    height: 100px;
    left: 1000px;
}

.circle {
    position: absolute;
    top: 230px;
    left: 200px;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #808080;
    border: 3px solid black;
    z-index: 1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center;
}

body {
    background-image: url('/static/images/2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.blurred-background {
    transition: backdrop-filter 0.5s ease;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.95);
}



.fireworks {
    background: transparent;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
}
